<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

	<Product Id="*" Name="TLBR" Language="1033" Version="1.0.0.0" Manufacturer="TLBR" UpgradeCode="{DDAB0EA8-1717-4426-85AF-4F94B5301A28}">

		<Package InstallerVersion="200" Compressed="yes" InstallScope="perUser" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of TLBR is already installed." />
		<MediaTemplate EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="TLBR" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>

		<UIRef Id="WixUI_InstallDir" />
		<Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />

	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="PitchX" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">

			<Component Id="MainDll" Guid="*">
				<File Id="TLBR_dll" Source="$(var.TLBR.TargetPath)" KeyPath="yes" />
			</Component>

			<Component Id="VstoFile" Guid="*">
				<File Id="TLBR_vsto" Source="$(var.TLBR.TargetDir)TLBR.vsto" />
			</Component>

			<Component Id="ManifestFile" Guid="*">
				<File Id="TLBR_manifest" Source="$(var.TLBR.TargetDir)TLBR.dll.manifest" />
			</Component>

			<!-- Installs VSTO Runtime silently if not already installed -->
			<Component Id="VSTORuntime" Guid="*">
				<File Id="vstor_redist" Source="vstor_redist.exe" KeyPath="yes" />
				<ExePackage Id="InstallVSTO" SourceFile="[INSTALLFOLDER]vstor_redist.exe" InstallCommand="/q /norestart" DetectCondition="NOT VSTORUNTIMEINSTALLED" />
			</Component>

			<!-- Registry: tells PowerPoint to load PitchX -->
			<Component Id="RegistryEntries" Guid="*">
				<RegistryKey Root="HKCU" Key="Software\Microsoft\Office\PowerPoint\Addins\TLBR">
					<RegistryValue Name="Description" Value="PitchX PowerPoint Add-in" Type="string" />
					<RegistryValue Name="FriendlyName" Value="PitchX" Type="string" />
					<RegistryValue Name="LoadBehavior" Value="3" Type="integer" KeyPath="yes" />
					<RegistryValue Name="Manifest" Value="[INSTALLFOLDER]TLBR.vsto|vstolocal" Type="string" />
				</RegistryKey>
			</Component>

		</ComponentGroup>
	</Fragment>

</Wix>